<h3>Attendance</h3>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Id</th>
      <th>Created</th>
      <th>Site</th>
      <th>Entity</th>
      <th>In</th>
      <th>Out</th>
    </tr>
  </thead>
  <tbody>
    <% @attendance.each do |attendance| %>
      <tr>
        <td><%= attendance.id %></td>
        <td><%= attendance.created_at %></td>
        <td><%= attendance.site_identifier %></td>
        <td><%= attendance.entity_identifier %></td>
        <td><%= attendance.sign_in_time %></td>
        <td><%= attendance.sign_out_time %></td>
      </tr>
    <% end %>
  </tbody>
</table>
